.box {
    margin-left:25px;
	background: linear-gradient(to right,rgb(210, 29, 216), rgba(236, 127, 24, 0.822));
	color: white;
	--width: 120px;
	--height: calc(var(--width) / 3);
	width: var(--width);
	height: var(--height);
	text-align: center;
	line-height: var(--height);
    font-size: calc(var(--height) / 2.5);
	font-family: sans-serif;
	letter-spacing: 0.2em;
	border: 1px solid #A770EF;
	border-radius: 2em;
	transform: perspective(500px) rotateY(-15deg);
	text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
	position: relative;
	overflow: hidden;
}

.box:hover {
	transform: perspective(500px) rotateY(15deg);
	text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.box::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, rgb(34, 157, 194), transparent);
	left: -100%;
	transition: 0.5s;
}

.box:hover::before {
	left: 100%;
}

.mar{
	margin: 25px;
}
input,select{
	width:200%;
	background: transparent;
	border-width: 3px;
	border-block-color: white;
	border-style: solid;
}
.block {
    float:left;
	width:50%;
	
  }
  body
  {
	  background-image:url("C:\Users\vishnupriya.kasu\typescript\miniproject\src\assets\images\AW6F4H5ZMFMFJGLBL757UB5NJM.jpg");
	  background-repeat: round;
	}
	label{
		font-family: sans-serif;
		font-weight: bold;
	}
	
	thead{
		background: #A770EF;  /* fallback for old browsers */
		background: -webkit-linear-gradient(145deg, #484c50, #2d116d, #10041f);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(150deg, hsl(202, 69%, 30%), #1b475c60, #0f4a4e93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color:whitesmoke;
		border: 3px solid #eee;
	}
	
	table{
		background: -webkit-linear-gradient(145deg, #ffffff, #518197, #16727e);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(145deg, hsla(194, 96%, 71%, 0.616), #18c2cec9, #0d2d2e9f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color:black;
		font-weight: 600;
	}
	