<body>
    <br>
 <button class="btn btn-primary" style="align-self:flex-end;background: linear-gradient(150deg, hsl(202, 69%, 30%), #1b475c60, #3ec7d179);" (click)="back()">Home</button>
    <br>
<h3 Style="text-align: center;"><b>Enroll Patient</b></h3>
<div [hidden]="submitted" style="width: 300px;">
    <form  (ngSubmit)="onSubmit()" #patientform="ngForm" class="mar">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" required [(ngModel)]="patient.firstName" name="firstName" #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched">
            <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is mandatory</small>           
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="patient.lastName" name="lastName" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched">
            <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is mandatory</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="patient.password" name="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is mandatory</small>            
        </div>
    
        <div class="form-group">
            <label for="dob">Date Of Birth</label>
            <input type="date" class="form-control" id="dob" required [(ngModel)]="patient.dob" name="dob" #dob="ngModel" [class.is-invalid]="dob.invalid && dob.touched">
            <small class="text-danger" [class.d-none]="dob.valid || dob.untouched">Date Of Birth is mandatory</small>
        </div>
    
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="patient.email" name="email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
            <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is mandatory</small>      
        </div>
    
        <div class="form-group">
            <label>Contact Number</label>
            <input type="text" class="form-control" id="contactNumber" required [(ngModel)]="patient.contactNumber" name="contactNumber" #contactNumber="ngModel" [class.is-invalid]="contactNumber.invalid && contactNumber.touched">
            <small class="text-danger" [class.d-none]="contactNumber.valid || contactNumber.untouched">Email is mandatory</small>      
        </div>

        
<div style="width:100%">
    <label for="state">State</label>
    <br>
    <select class="custom-select" name="state" required [(ngModel)]="patient.state" #state="ngModel" [class.is-invalid]="state.invalid && state.touched">
        <option *ngFor="let state of states">{{state}}</option>
    </select>
    <small class="text-danger" [class.d-none]="state.valid || state.untouched">State is mandatory</small>
        
</div>
<div>
    <br>
    <input style="width:10px;margin-right: 10px;" type="checkbox" id="insurancePlan"  [(ngModel)]="patient.insurancePlan" name="insurancePlan" #insurancePlan="ngModel" [class.is-invalid]="insurancePlan.invalid && insurancePlan.touched">
    <label for="insurancePlan" class="form-check-label">
     Insurance Plan 
    </label>
</div>
        <br>
          <button class="btn btn-primary" type="submit" [disabled]="patientform.form.invalid">Submit</button>

        <button style="margin-left:100px" class="btn btn-primary" type="reset">  Reset</button>
   </form>
</div>

<div [hidden]="!submitted" class="container">
    <div class="block">
    <div>
        <h4>Physician details submitted successfully!</h4>
    </div>
    <div>
        <button class="btn btn-success" (click)="newPatient()">Add another Patient</button>
    </div>
    </div>  
      <h2 class="text-secondary text-center">Patients Details</h2>
    <hr />  
<div>
    <table class="table table-striped" border="1">
        <thead  align="center">
            <tr>
              <th>Patient ID</th>
              <th>Name</th>
              <th>Password</th>
              <th>Date Of Birth</th>
              <th>Email</th>
              <th>contact Number</th>
              <th>State</th>
              <th>Insurance Plan</th>
            </tr>
          </thead>
    <tbody  align="center">
    <tr *ngFor="let patient of patients | async | paginate: { itemsPerPage: count, currentPage: p }">
        <td>{{patient.patientId}}</td>
        <td>{{patient.firstName}} {{patient.lastName}}</td>
        <td>{{patient.password}}</td>
        <td>{{patient.dob}}</td>
        <td>{{patient.email}}</td>
        <td>{{patient.contactNumber}}</td>
        <td>{{patient.state}}</td>
        <td>{{patient.insurancePlan}}</td>
       
       
       
    </tr>
    </tbody>
    </table>
</div>

<div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

 </div>

 </body>

