  <br>
  <button class="btn btn-primary" style="align-self:flex-end;background: linear-gradient(150deg, hsl(202, 69%, 30%), #1b475c60, #3ec7d179);" (click)="back()">Home</button>
  <h1 style="text-decoration-style: double;text-align: center;">Search with certain criteria</h1>
  <div class="block">
      <label><h5>Select By Department</h5></label>
      <br>
      <select class="custom-select" name="selectedDepartment" [(ngModel)]="selectedDepartment" (change)=onDepartmentChange()>
        <option style="font-weight: bold;" value="undefined" selected disabled><b>---Select Department---</b></option>
          <option *ngFor="let department of Departments">{{department}}</option>
      </select>
  </div>

  <div class="block">
    <label><h5>Select By State</h5></label>
    <br>
    <select class="custom-select" name="selectedState" [(ngModel)]="selectedState" (change)=onStateChange()>
        <option  style="font-weight: bold;" value="undefined" selected disabled><b>---Select State---</b></option>
        <option *ngFor="let state of States">{{state}}</option>
    </select>
  </div>
  <br>
  <br><br>
  <br><div class="container" [hidden]=hideTable>
    <h2 class="text-center"><b>Search results by {{criteria}}</b></h2>
    <hr />
  
    <div>
      <table class="table table-bordered">
          <thead>
              <tr>
                <th>Physician ID</th>
                <th>Name</th>
                <th>Educational Qualification</th>
                <th>Department</th>
                <th>Years Of Experience</th>
                <th>Insurance Plan</th>
                <th>State</th>
              </tr>
            </thead>
      <tbody>
        <tr *ngFor="let physician of physicians | paginate: { itemsPerPage: count, currentPage: p }">
          <td>{{physician.id}}</td>
          <td>{{physician.firstName}} {{physician.lastName}}</td>
          <td>{{physician.educationalQualification}}</td>
          <td>{{physician.department}}</td>
          <td>{{physician.yearsOfExperience}}</td>
          <td>{{physician.insurancePlan}}</td>
          <td>{{physician.state}}</td>
        </tr>
      </tbody>
      </table>
      </div>

  <!--Including the pagination control.-->
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>    

