select{
    max-width: 40%;
    background-color:rgba(115, 213, 243, 0.644);
    border-color:whitesmoke;
    border-width: .09cm;
}
.block {
    float:left;
    width:50%;
    
  }
  label{
      color:#0d2d2e;
      font-family: fantasy;
      text-shadow: #0d2d2e;
  }
	table{
		background: #A770EF;  /* fallback for old browsers */
		background: -webkit-linear-gradient(145deg, #484c50, #2d116d, #10041f);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(150deg, hsl(202, 69%, 30%), #1b475c60, #0f4a4e93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color:whitesmoke;
		border: 3px solid #eee;
	}
	
	thead{
		background: -webkit-linear-gradient(145deg, #ffffff, #518197, #16727e);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(145deg, hsla(194, 96%, 71%, 0.377), #18c2ce63, #0d2d2e9f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color:black;
		font-weight: 600;
	}
	
