<!--<body>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white " (click)="logout()" routerLink="/">Logout</a>
            </li>
        </ul>
    </div> 
    <div style="padding: 20px;">
        <h1><b>Hospital Management System</b></h1>
        <br>
          <nav>
            <a routerLink="enrollPatient"  class="col btn btn-funky-moon btn-rounded active" role="button"
            routerLinkActive="active">Enroll Patient</a>
           <a routerLink="enrollPhysician" class="col btn btn-funky-moon btn-rounded  active" role="button"
            routerLinkActive="active">Enroll Physician</a>
           <a routerLink="view" class="col btn btn-funky-moon btn-rounded  active" role="button"
            routerLinkActive="active">Patient details</a>
            <a routerLink="search" class="col btn btn-funky-moon btn-rounded  active" role="button"
            routerLinkActive="active">Search Physician</a>
            <a routerLink="diagnosis" class="col btn btn-funky-moon btn-rounded  active" role="button"
            routerLinkActive="active">Diagnosis Details</a>
          </nav> 
      </div>
    -->