
.mar{
	margin: 25px;
}
input,select{
	width:200%;
	background: transparent;
	border-width: 3px;
	border-block-color: white;
	border-style: solid;
}
.block {
    float:left;
	width:50%;
	
  }
  body
  {
	  background-image:url("C:\Users\vishnupriya.kasu\typescript\miniproject\src\assets\images\OIP.jpeg");
	  background-size: cover;
	}
	label{
		font-family: sans-serif;
		font-weight: bold;
	}
	table{
		background: #A770EF;  /* fallback for old browsers */
		background: -webkit-linear-gradient(145deg, #484c50, #2d116d, #10041f);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(150deg, hsl(202, 69%, 30%), #1b475c60, #0f4a4e93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color:whitesmoke;
		border: 3px solid #eee;
	}
	
	thead{
		background: -webkit-linear-gradient(145deg, #ffffff, #518197, #16727e);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(145deg, hsla(194, 96%, 71%, 0.616), #18c2cec9, #0d2d2e9f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color:black;
		font-weight: 600;
	}
	