    <body>
        <br>
    <button class="btn btn-primary" style="align-self:flex-end;background: linear-gradient(150deg, hsl(202, 69%, 30%), #1b475c60, #3ec7d179);" (click)="back()">Home</button>

        <br>
    <h3 Style="text-align: center;"><b>Enroll Physician</b></h3>

    <div class="row">
        <div class="col">
            <div [hidden]="submitted" style="width: 300px;">
                <form (ngSubmit)="onSubmit()" #physicianform="ngForm" class="mar">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" required [(ngModel)]="physician.firstName" name="firstName" #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched">
                        <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is required</small>           
                    </div>
                    <div class="form-group"> 
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" required [(ngModel)]="physician.lastName" name="lastName" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched">
                        <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is required</small>
                    </div>
            
                    <div class="form-group">
                        <label for="educationalQualification">Educational Qualification</label>
                        <input type="text" class="form-control" id="educationalQualification" required [(ngModel)]="physician.educationalQualification" name="educationalQualification" #educationalQualification="ngModel" [class.is-invalid]="educationalQualification.invalid && educationalQualification.touched">
                        <small class="text-danger" [class.d-none]="educationalQualification.valid || educationalQualification.untouched">Educational Qualification is required</small>
                    </div>
                    
                    <div class="form-group">
                        <label for="department">Department</label>
                        <select class="custom-select" name="department" required [(ngModel)]="physician.department" #department="ngModel" [class.is-invalid]="department.invalid && department.touched">
                            <option *ngFor="let depp of Departments">{{depp}}</option>
                        </select>
                        <small class="text-danger" [class.d-none]="department.valid || department.untouched">Department is required</small>
                    </div>
            
                    <div class="form-group">
                        <label for="yearsOfExperience">Years of Experience</label>
                        <input type="number" class="form-control" id="yearsOfExperience" required [(ngModel)]="physician.yearsOfExperience" name="yearsOfExperience" #yearsOfExperience="ngModel" [class.is-invalid]="yearsOfExperience.invalid && yearsOfExperience.touched">
                        <small class="text-danger" [class.d-none]="yearsOfExperience.valid || yearsOfExperience.untouched">Years Of Experience is required</small>
                    </div>
            
                    <div class="form-group">
                        <label for="state">State</label>
                        <select class="custom-select" name="state" required [(ngModel)]="physician.state" #state="ngModel" [class.is-invalid]="state.invalid && state.touched">
                            <option *ngFor="let state of states">{{state}}</option>
                        </select>
                        <small class="text-danger" [class.d-none]="state.valid || state.untouched">State is required</small>
                    </div>
                
                    <div>
                        <input style="width:10px;margin-right: 10px;"  type="checkbox" id="insurancePlan" [(ngModel)]="physician.insurancePlan" name="insurancePlan" #insurancePlan="ngModel">
                        <label for="insurancePlan" class="form-check-label">
                        Insurance Plan 
                        </label>
                    </div>
                    <br>
            
                <button type="submit" class="btn btn-primary" [disabled]="physicianform.form.invalid">Register</button>
                <button type="reset" style="margin-left:100px" class="btn btn-primary" >Reset</button>
                
            </form>
            </div>
            
    <div [hidden]="!submitted" class="container">
        <div>
        <div>
            <h4>Physician details submitted successfully!</h4>
        </div>
        <div>
            <button class="btn btn-success" (click)="newPhysician()">Add another Physician</button>
        </div>
        </div>  
        <h2 class="text-secondary text-center">Physicians Details</h2>
        <hr />  
    <div>
        <table class="table table-striped" class="table table-bordered">
            <thead>
                <tr>
                    <th>Physician ID</th>
                    <th>Name</th>
                    <th>Educational Qualification</th>
                    <th>Department</th>
                    <th>Years Of Experience</th>
                    <th>Insurance Plan</th>
                    <th>State</th>
                </tr>
            </thead>
        <tbody>
            <tr *ngFor="let phy of physicians | async | paginate: { itemsPerPage: count, currentPage: p }">
                <td>{{phy.id}}</td>
                <td>{{phy.firstName}} {{physician.lastName}}</td>
                <td>{{phy.educationalQualification}}</td>
                <td>{{phy.department}}</td>
                <td>{{phy.yearsOfExperience}}</td>
                <td>{{phy.insurancePlan}}</td>
                <td>{{phy.state}}</td>
        </tr>
        </tbody>
        </table>
    </div>
    <div class="text-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    </div>
        </div>
        <div class="col">
            <br>
            <br>
            <br>
            <img src="assets\images\phy2.jpg" alt="physician">
        </div>
    </div>
    <body>