  
  <br>
  <button class="btn btn-primary" style="align-self:flex-end;background: linear-gradient(150deg, hsl(202, 69%, 30%), #1b475c60, #3ec7d179);" (click)="back()">Home</button>
  <div class="container">
    <h2 class="text-secondary text-center">Patient Details</h2>
    <hr />
  
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Patient ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Date Of Birth</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>State</th>
            <th>Insurance Plan</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patients | async | paginate: { itemsPerPage: count, currentPage: p }">
            <td>{{patient.patientId}}</td>
            <td>{{patient.firstName}} {{patient.lastName}}</td>
            <td>{{patient.password}}</td>
            <td>{{patient.dob | date}}</td>
            <td>{{patient.email}}</td>
            <td>{{patient.contactNumber}}</td>
            <td>{{patient.state}}</td>
            <td>{{patient.insurancePlan}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  
  
    <div class="text-right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>