.btn-funky-moon {
    margin-left:10px;
    
    min-width: 160px;
    max-width: 180px;
    max-height: 6ch;
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(145deg, #ffffff, #518197, #16727e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(150deg, hsl(202, 69%, 30%), #1b475c60, #3ec7d179); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
    text-align: center;
}
h1,nav{
    text-align: center;
}
.hdr
{
    background-image: url('C:\Users\vishnupriya.kasu\typescript\miniproject\src\assets\images\header.jpg');
    background-repeat: round;
    color:rgb(231, 241, 243);
    text-align: center;
}
img{
    width: 170px;
    height: 120px;
    border-block-color: inherit;
    border:rgb(198, 232, 238)

}
.block
{
    background-image: url('C:\Users\vishnupriya.kasu\typescript\miniproject\src\assets\images\header.jpg');
    float:left;
    width:50%
}
body{
    background-image:url('C:\Users\vishnupriya.kasu\typescript\miniproject\src\assets\images\wgMLUS.jpg') !important;
    background-position: bottom;
    background-repeat: repeat-y;
    background-size:16px 1050px;
    background-position: center; 
    background-size: cover;
    
}
.hhh
{
    height: .02cm;
}