<head>


</head>
<body>
<div [hidden]="!authguardService.isLoggedIn">
  <div class="hdr">
    <div>
      <h1>TRUST AND HEAL</h1>
      <h5>Multispeciality Hospital</h5>
      <h6>Nellore</h6>
     <cite title="The Greek Way">Andhra Pradesh,India-524002.<b>     </b>Contact number:9764536234</cite>
<br>
<div class=hhh><br></div>
    </div>


  <nav>
    <a routerLink="enrollPatient"  class="col btn btn-funky-moon btn-rounded active" role="button" [routerLinkActiveOptions]="{exact:false}"
      routerLinkActive="active"><b>Enroll Patient</b></a>
     <a routerLink="enrollPhysician" class="col btn btn-funky-moon btn-rounded  active" role="button"
      routerLinkActive="active"><b>Enroll Physician</b></a>
      <a routerLink="view" class="col btn btn-funky-moon btn-rounded  active" role="button"
      routerLinkActive="active"><b>Patient History</b></a>
      <a routerLink="search" class="col btn btn-funky-moon btn-rounded  active" role="button"
      routerLinkActive="active"><b>Search Physician</b></a>
      <a routerLink="diagnosis" class="col btn btn-funky-moon btn-rounded  active" role="button"
      routerLinkActive="active"><b>Diagnosis Details</b></a>
      <a routerLink="logout" class="col btn btn-funky-moon btn-rounded  active" role="button"
      routerLinkActive="active"><b>Logout</b></a>
    </nav> 
    <div class=hhh><br></div>
</div>
</div>
<router-outlet></router-outlet>
</body>