
<body>
    <br>    
 <button class="btn btn-primary" style="align-self:flex-end;background: linear-gradient(150deg, hsl(202, 69%, 30%), #1b475c60, #3ec7d179);" (click)="back()">Home</button>
<h3 style="text-align: center;">Patient Diagnosis Details</h3>
<h3>Patient Diagnosis Details</h3>
<div [hidden]="submitted" style="width: 300px;">
     <form (ngSubmit)="onSubmit()" #diagnosisform="ngForm" class="mar">
             
        <div>
            <label for="patient">Patient Id</label>
            <br>
            <select class="custom-select" name="patientId" required [(ngModel)]="diagnosis.patientId" #patientId="ngModel" [class.is-invalid]="patientId.invalid && patientId.touched">
                <option  type="number"  *ngFor="let pat of patients | async" [value]=pat.patientId>{{pat.patientId}}</option>
            </select>
            <small class="text-danger" [class.d-none]="patientId.valid || patientId.untouched">Patient Id is mandatory</small>
        </div>
        <!--
        <div class="form-group">
            <label for="patientId">xxxxx</label> 
            <input type="number" class="form-control" id="patientId" required [(ngModel)]="diagnosis.patientId" name="patientId" #patientId="ngModel" [class.is-invalid]="patientId.invalid && patientId.touched">
            <small class="text-danger" [class.d-none]="patientId.valid || patientId.untouched">Bill Amount is required</small>
        </div>
    -->  

        <div class="form-group">
            <label for="symptoms">Symptoms</label>
            <input type="text" class="form-control" id="symptoms" required [(ngModel)]="diagnosis.symptoms" name="symptoms" #symptoms="ngModel" [class.is-invalid]="symptoms.invalid && symptoms.touched">
            <small class="text-danger" [class.d-none]="symptoms.valid || symptoms.untouched">Symptoms is mandatory</small>           
        </div>

        <div class="form-group">
            <label for="diagnosisProvided">Diagnosis Provided</label> 
            <input type="text" class="form-control" id="diagnosisProvided" required [(ngModel)]="diagnosis.diagnosisProvided" name="diagnosisProvided" #diagnosisProvided="ngModel" [class.is-invalid]="diagnosisProvided.invalid && diagnosisProvided.touched">
            <small class="text-danger" [class.d-none]="diagnosisProvided.valid || diagnosisProvided.untouched">Diagnosis Provided  is mandatory</small>
        </div>

        <div class="form-group">
            <label for="administeredBy">Administered By</label>
            <input type="text" class="form-control" id="administeredBy" required [(ngModel)]="diagnosis.administeredBy" name="administeredBy" #administeredBy="ngModel" [class.is-invalid]="administeredBy.invalid && administeredBy.touched">
            <small class="text-danger" [class.d-none]="administeredBy.valid || administeredBy.untouched">Administered By is mandatory</small>            
        </div>

        <div class="form-group">
            <label for="dateOfDiagnosis">Date Of Diagnosis</label>
            <input type="date" class="form-control" id="dateOfDiagnosis" required [(ngModel)]="diagnosis.dateOfDiagnosis" name="dateOfDiagnosis" #dateOfDiagnosis="ngModel" [class.is-invalid]="dateOfDiagnosis.invalid && dateOfDiagnosis.touched">
            <small class="text-danger" [class.d-none]="dateOfDiagnosis.valid || dateOfDiagnosis.untouched">Date Of Diagnosis is mandatory</small>
        </div>
 
        <div class="form-group">
            <label>Follow Up</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="followUpRequired" value="YES" [(ngModel)]="diagnosis.followUpRequired" #followUpRequired="ngModel" required > 
              <label class="form-check-label">Yes</label>
            </div>
 
            <div class="form-check">
              <input class="form-check-input" type="radio" name="followUpRequired" value="NO" [(ngModel)]="diagnosis.followUpRequired" #followUpRequired="ngModel" required>
              <label class="form-check-label">No</label>
            </div>
 
            <div *ngIf="followUpRequired.invalid && followUpRequired.untouched" class="text-danger"> 
              
            </div>
        </div> 

        <div class="form-group">
            <label>Date Of FollowUp</label>
            <input type="date" class="form-control" id="dateOfFollowUp" required [(ngModel)]="diagnosis.dateOfFollowUp" name="dateOfFollowUp" #dateOfFollowUp="ngModel" [class.is-invalid]="dateOfFollowUp.invalid && dateOfFollowUp.touched">
            <small class="text-danger" [class.d-none]="dateOfFollowUp.valid || dateOfFollowUp.untouched">Date Of FollowUp is mandatory</small>      
        </div>
    
        <div class="form-group">
            <label for="billAmount">Bill Amount</label>
            <input type="number" class="form-control" id="billAmount" required [(ngModel)]="diagnosis.billAmount" name="billAmount" #billAmount="ngModel" [class.is-invalid]="billAmount.invalid && billAmount.touched">
            <small class="text-danger" [class.d-none]="billAmount.valid || billAmount.untouched">Bill Amount is mandatory</small>
        </div>
    
        <div class="form-group">
            <label for="cardNumber">Card Number</label>
            <input type="number" class="form-control" id="cardNumber" required [(ngModel)]="diagnosis.cardNumber" name="cardNumber" #cardNumber="ngModel" [class.is-invalid]="cardNumber.invalid && cardNumber.touched">
            <small class="text-danger" [class.d-none]="cardNumber.valid || cardNumber.untouched">Card Number is mandatory </small>
        </div>
 
        <div class="form-group">
            <label for="modeOfPayment">Mode Of Payment</label>
            <input type="text" class="form-control" id="modeOfPayment" required [(ngModel)]="diagnosis.modeOfPayment" name="modeOfPayment" #modeOfPayment="ngModel" [class.is-invalid]="modeOfPayment.invalid && modeOfPayment.touched">
            <small class="text-danger" [class.d-none]="modeOfPayment.valid || modeOfPayment.untouched">Mode Of Payment is mandatory </small>
        </div>
       
        <br>
    <button type="submit" class="btn btn-primary" [disabled]="diagnosisform.form.invalid">Submit</button>
    
    <button type="reset"  style="margin-left:100px" class="btn btn-primary" >Reset</button>
   </form>
</div>

  <div [hidden]="!submitted">
    <h4>Report submitted successfully!</h4>
  <button class="btn btn-success" (click)="newReport()">Add another Patient</button>
  </div>
</body>
 