
.mar{
	margin: 25px; 
}
input,select,textarea{
	width:200%;
	background: transparent;
	border-width: 3px;
	border-block-color: white;
	border-style: solid; 

}

  body
  {
	  background-image:url("C:\Users\vishnupriya.kasu\typescript\miniproject\src\assets\images\AW6F4H5ZMFMFJGLBL757UB5NJM.jpg");
	  background-repeat: round;
	  background-size: cover;
	}
	label{
		font-family: sans-serif;
		font-weight: bold;
	}