
  <div style="background:transparent" [hidden]=hide.isLoggedIn>
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div>
        <div class="container">
          <br>
          <h1 style="font-family:monospace" class="heading" class="display-3"><b>Trust And Heal Super Speciality Hospital</b></h1>
          <h3>you trust,we heal</h3>
          <p><a class="btn btn-primary btn-lg" routerLink="/Login/" role="button">Login &raquo;</a></p>
        </div>
      </div>
   
      <div class="container" style="font-weight:bold;">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2><b>Our doctors</b></h2>
            <p>Our skilled doctors with decades of experience will find the best way to treat you.Eachday we together spreading thousands of smiles and hope for a better life.Our physicians are very keen and very friendly so that effective solutions can be brought up to resolve an issue</p>
          </div>
          <div class="col-md-4">
            <h2><b>Our specialized Equipment</b></h2>
           
            <p>The high end world class equipment will bring us closer to the exact diagnosis.Being more precise in every report we give and every treatment we attempt.we proudly announce that we are reputed as the best equipped hospital in this state.</p>
          </div>
          <div class="col-md-4">
            <h2><b>Our love :)</b></h2>
           
            <p>The ambience of our hospital and the love we show on each patient will help them to heal both mentally and physically.The trust on our hospital should live long and wish u have a happiest life healing all your pains.</p>
          </div>
        </div>
  
        <hr>
    </div>
        
      </div> <!-- /container -->
      <!--Footer-->
      <!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
   
    <div style="color:rgb(24, 30, 31);" class="footer-copyright text-center py-3"><h4>Welcome to <b>TRUST AND HEAL </b>Multispeciality Hospital</h4>
      
      Vision Multispeciality is an ultra modern Multispeciality Hospital with 40 beds which include 5 beds for critical care, in a Intensive Care Unit equipped with state of the art ventilators, infusion pumps, arterial blood gas analyzer and patient monitoring systems.

The ICU also has a modern Air handling unit to offer a very safe, cross infection free, environment for the patient . Vision Multispeciality Hospital also has a state of the art Modular operation Theatre Complex, comprising of three operating theatres, equipped with laminar Air flow, Hepa Filters, centralized medical gases and state of the support facilities with Ultra modern Equipments & Technologies. Vision Multispeciality Hospital has a centre for Minimal access and Endoscopic Surgeries and a high end dialysis unit. The entire hospital is equipped with ultra modern equipments.

A very highly qualified and vastly experienced team of superspecialists, specialists and consultants who are backed up with widely experienced Resident Medical Officers, Nurses,and para medical, offer to their patients dedicated services round the clock.
      <br><a href="https://mdbootstrap.com/">©Vishnu Priya Kasula</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
      