
    .navbar {
        background-color: #201917;
    }

    .button {
        background-color: #1f110e
    }

    .footer {
        height: 70px;
        position: fixed;
        width: 100%;
        bottom: 0px;
        background-color: #0e0a09;
        color: white;
    }

    header {
        height: 70px;
    }
body{
    background-image: url('C:\Users\vishnupriya.kasu\typescript\miniproject\src\assets\images\dermatology_main-1920.jpg');
    background-repeat: round;
}
input
{
    background: linear-gradient(145deg, hsl(195, 17%, 23%), #091516, #535858); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
label
{
    font-weight:bold;
    color:whitesmoke;
    text-align:center;
}