<body>
    <br><br><br><br><br><br>
            <div class="card mx-auto" style="width:400px;background-color: rgba(21, 21, 22, 0.459);">

                <div class="card-body">
                    <h1 style="text-align:center;font-weight:bold;color:white">Administrator Login</h1>

                    <form (ngSubmit)="onSubmit(username.value,password.value)" #loginForm="ngForm">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" #username>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" #password>
                        </div>
                        <span>
                            <button type="submit" class="btn btn-primary" style="background-color:#111010">Login</button>
                           
                        </span>
                        <br/>
                      <small style="color:aliceblue">{{msg}}</small>
                    </form>
                </div>
            </div>
        </body>